@{
    ViewData["Title"] = "Контакты";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p class="container text-left">
    г.Саратов, Чапаева 67<br>
    Тел.: 8 (8452) 37-78-78<br><br>

    г.Саратов, ул. Проспект Кирова 18<br>
    Тел.: 8 (8452) 72-22-72<br><br>

    г.Саратов, Зарубина, 167<br>
    Тел.: 8 (967) 500-88-02<br><br>

    г.Саратов, Кленовая 7 (угол Пензенской)<br>
    Тел.: 8 (8452) 45-22-45<br><br>

    г.Саратов, 50 лет Октября пр-кт, 17<br>
    Тел.: 8 (8452) 45-24-24<br><br>

    г.Саратов, ул. Усть-Курдюмская, 5<br>
    Тел.: 8 (8452) 45-49-49<br><br>

    г.Саратов. ул. Тархова, 29а<br>
    Тел.: 8 (8452) 45-48-49<br><br>

    г.Саратов, ул.Московская, 11<br>
    Тел.: 8 (8452) 28-20-20<br><br>

    г.Саратов, ул. 2-я Садовая, 104<br>
    Тел.: 8 (8452) 56-66-00
</p>
