@{
    ViewData["Title"] = "Доставка";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p class="container text-left">
Сумма минимального заказа - 500 руб.<br>

Бесплатная доставка от 500 руб. Если расстояние от ближайшей пиццерии до вашего адреса от 8 до 15 км, доставка должна быть на сумму от 1500 руб.<br>

Доставка осуществляется курьерами по районам Саратова в течение часа ежедневно с 11.00 до 22.00 часов.<br>

Доставка осуществляется курьерами по районам Балаково в течение часа ежедневно с 10.00 до 21.00 часа.<br>

Приготовление пиццы происходит только по получении заказа, это требует времени, но наша продукция стоит того, чтобы немного подождать!<br>

* Доставка блюд из сырой рыбы не осуществляется.<br>
</p>