@{
    ViewData["Title"] = "О нас";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<h2 class="container">Доставка пиццы в Саратове</h2>

<p class="container text-left">
Чем отличается «Донна Пицца» от других?<br>
- Характерная особенность - это наша пицца! Особый вкус, вкусное тесто, начинка с изысканными пряными или сливочными нотками. «Донна Пицца» стала широкой сетью пиццерий по Саратову, Энгельсу и Балаково.<br>
- Прекрасный вкус блюд и обслуживание в «Донна Пицца» идеально сочетается с ценовой политикой заведения.<br>
- Мы разработали широкое меню, которое затрагивает итальянскую, традиционную и азиатскую кухни.<br>
- Каждая пиццерия тщательно контролируется на предмет соблюдение чистоты, свежести продуктов, соблюдение норм и правил установленных для персонала.<br>
- Бесплатная доставка пиццы - это приятная и удобная услуга. Так приятно получить на дом или офис готовую, горячую и самую вкусную пиццу.<br>
- Акции, приятные бонусы и выгодные предложения появляются постоянно, главное отслеживайте их сроки проведения.
</p>
<p class="container"><img src="/img/about1.jpg" /></p>