@{
    ViewData["Title"] = "Акции";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p class="container text-left">
При покупке большой пиццы с грушей, любимая маленькая по 190 рублей в подарок!<br>
Скидка на День Рождения - 10%<br>
Комбо 1(1 маленькая пицца + картофель фри+соус)<br>
Комбо 2(2 маленькие пиццы + 2 картошки фри + 2 соуса)<br>
Комбо 3(3 маленькие пиццы)<br>
Комбо 3 + 3(3 большие пиццы + 3 соуса)
</p>