@{
    ViewData["Title"] = "Акции";
}

@{
    var imageUrls = new List<string> { "/img/Frame_13_1.png", "/img/Frame_10.png", "/img/1.png", "/img/2.png", "/img/3.png", "/img/4.png" };
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
        @{
            int i = 0;
        }
        @foreach (var item in imageUrls)
            {
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="stocks_item" src = "@imageUrls[i]"/>
                    </a>
                @* 1 - метод, 2 - контроллер *@
            i++;   
        }
</div>