@using Dal.DbModels
@model List<Product>

@{
    ViewData["Title"] = ViewData["Category"];
}

<div class="menu">
    <div class="Products">
        <div class="heading-menu-products">
            <h1 class="text-center">
                @ViewData["Category"]
            </h1>
        </div>
        <div class="menu-products container">
            <ul>
                @foreach (var item in Model)
                {
                    <li>@item.Name / @item.Price руб.<br>
                        <a href="#" onclick="addItemToCard(@item.Id)">Добавить</a> <br>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script>    //TODO: изменить на json
        function addItemToCard(productId) {
            if (sessionStorage["cartItems"] === undefined) {
                sessionStorage["cartItems"] = '';
            }
            sessionStorage["cartItems"] = sessionStorage["cartItems"].concat(productId+",");
            alert(sessionStorage["cartItems"]);
        }
    </script>
}